

{%  block subject %}

    [biostar-engine] {{subject}}

{% endblock %}


{% block html %}
    <p>
        你好{{ target_email }},
    </p>

    <p>
        這是個自動傳送的HTML email
    </p>

    <p>
        <b>python manage.py send</b>
    </p>

    {% if group %}
        <p>
            你已經被加入 {{group}} 郵件名單
        </p>
    {% endif %}

    <p>
        {{ site.name }} Team<br>
        {{ protocol }}://{{ site.domain }}
    </p>

{% endblock %}

{% block text %}

    你好 {{ target_email }},

    這是個自動傳送的HTML email

    python manage.py send

    {% if group %}
    你已經被加入 {{group}} 郵件名單
    {% endif %}

    {{ site.name }} Team
    {{ protocol }}://{{ site.domain }}

{% endblock %}