
{# This will be the subject of the email #}
{%  block subject %}

    [biostar-engine] {{subject}}

{% endblock %}

{# This will be the subject of the email #}

{% block html %}
    <p>
        你好,
    </p>

    <p>

        這是個自動傳送的HTML email
    </p>

    <p>
        <b>python manage.py test_email</b>
    </p>

    <p>
        {{ name }} Team<br>
        {{ protocol }}://{{ domain }}{{port}}
    </p>

{% endblock %}

{% block text %}

    你好

    這是個自動傳送的HTML email

    python manage.py test_email

    {{ name }} Team
    {{ protocol }}://{{ domain }}{{port}}

{% endblock %}
