{% load forum_tags %}
  <div class="ui horizontal basic top-menu segments">
            <div style="padding-right: 19px;">
                <div class="ui small compact menu sorting no-box-shadow">
                    <div class="ui simple dropdown item">
                        Limit
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="{% relative_url 'all' 'limit' params %}">
                                <i class="{% activate_check_mark limit 'all' %}"></i>全部
                            </a>
                            <a class="item" href="{% relative_url 'today' 'limit' params %}">
                                <i class="{% activate_check_mark limit 'today' %}"></i>本日
                            </a>
                            <a class="item" href="{% relative_url 'week' 'limit' params %}">
                                <i class="{% activate_check_mark limit 'week' %}"></i>本週
                            </a>
                            <a class="item" href="{% relative_url 'month' 'limit' params %}">
                                <i class="{% activate_check_mark limit 'month' %}"></i>本月
                            </a>
                            <a class="item" href="{% relative_url 'year' 'limit' params %}">
                                <i class="{% activate_check_mark limit 'year' %}"></i>今年
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div style="padding-right: 19px;">
                <div class="ui small compact menu sorting no-box-shadow ">
                    <div class="ui simple dropdown item">
                        Sort
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="{% relative_url 'visit' 'order' params %}">
                                <i class="{% activate_check_mark order 'visit' %}"></i>最近造訪
                            </a>
                            <a class="item"
                               href="{% relative_url 'reputation' 'order' params %}">
                                <i class="{% activate_check_mark order 'reputation' %}"></i>聲譽
                            </a>
                            <a class="item" href="{% relative_url 'joined' 'order' params %}">
                                <i class="{% activate_check_mark order 'joined' %}"></i>加入時間
                            </a>
                            <a class="item"
                               href="{% relative_url 'activity' 'order' params %}">
                                <i class="{% activate_check_mark order 'activity' %}"></i>等級
                            </a>

                        </div>

                    </div>
                </div>
            </div>
            {% search_bar users=True %}

        </div>