{# This will be the subject of the email #}
{% block subject %}

    [biostar-engine] {{ subject }}

{% endblock %}

{# This will be the subject of the email #}

{% block html %}
    <p>
        To verify your account belonging to {{ user.email }}, click the link below:
    </p>
    <p>
        <a href="{{ protocol }}://{{ domain }}{{ port }}{% url 'email_verify_account' uidb64=userid token=token %}">
            {{ protocol }}://{{ domain }}{{ port }}{% url 'email_verify_account' uidb64=userid token=token %}</a>
    </p>
    <p>
        如果點擊後發生錯誤請複製此網址在新視窗中開啟

        <p>Crew
        </p>


{% endblock %}

{% block text %}
    要驗證你的帳號屬於 {{ user.email }}, 點擊下方連結:

    {{ protocol }}://{{ domain }}{{ port }}{% url 'email_verify_account' uidb64=userid token=token %}
    如果點擊後發生錯誤請複製此網址在新視窗中開啟

    Crew

{% endblock %}

